/*-- scss:defaults --*/

@import url(./fonts/league-gothic/league-gothic.css);
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

// fonts
$font-family-sans-serif: Lato, sans-serif !default;

// colors
$body-bg: #000000 !default;
$body-color: #9E1C21 !default;
$text-muted: #9E1C21 !default;
$link-color: #FFFFFF !default;
$selection-bg: #FFFFFF !default;
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;

// headings
$presentation-heading-font: "Nosifer"!default;
$presentation-heading-color: #9E1C21 !default;
$presentation-heading-text-transform: uppercase !default;

/*-- scss:rules --*/

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}
